
/target/
!/target/.gitkeep

#
.mvn/wrapper/*
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.iws
out/


.vscode/

.project
.classpath
.settings/
bin/

nbproject/private/
build/
nbbuild/
dist/

.DS_Store
Thumbs.db
*.swp
*.swo
*~

*.log
logs/
*.tmp
*.bak

